.container {

 &__title{
     text-align: center;
 }
}

.item{
    display: grid;
    border: solid;
    margin: 30px 10px;
    padding: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 15px;
    justify-content: space-between;
    // overflow: hidden;
    &>*{
        margin: 5px;
        font-size: 16px;
        font-weight: 300;
    }


    &__amount{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    &__time{
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: flex-end;
    }
    &__target{
        grid-row: 2/3;
        grid-column: 1/3;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__hash{
        grid-row: 3/4;
        grid-column: 1/3;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__sender{
        grid-row: 4/5;
        grid-column: 1/3;
        background-color: blue;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__address{
        grid-row: 5/6;
        grid-column: 1/3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}