@import './../../styles/index.scss';

.signup {
  
    &__link{
        background-color: transparent;
        color: currentColor;
        font-weight: bolder;
    }

    &__li{
        font-size: 13.333px;
    }
    
}
