$dark: #000000;;
$white: #FFFFFF;
$negative: #E84749;
$warning: #FF9A24;
$positive: #65F574;
$primary: #2EC7FF;
$secondary: #8283C4;
$grey: #C4C4C4;
$grey-lighten-1: #E5E5E5;

$main-bkg-dark:#121212;
$main-bkg-grey:#282933;

$shadow-1: 0px 4px 20px rgba(0, 0, 0, 0.1);
$grey-lighten-2: #F9F9F9;

$colors: (
  'dark': $dark,
  'white': $white,
  'negative': $negative,
  'positive': $positive,
  'warning': $warning,
  'primary': $primary,
  'secondary': $secondary,
  'grey': $grey,
  'grey-lighten-1': $grey-lighten-1
)