/*fonts properties*/
%basic-font{
  font-size: 16px;
  @media screen and (max-width: 520px) {
    font-size: 14px;  
  }
}

%input-font{
  font-size: 13.33px;
  font-weight: 300;
  line-height: 16px;
  
}

%btn-font{
  font-size: 18px;
  line-height: 22px; 
  text-transform: uppercase;
  @media screen and (max-width: 520px) {
    font-size: 16px;
  }
}

%title-font{
  font-size: 23px;
  font-weight: 300;
  line-height: 30px;
  @media screen and (max-width: 520px) {
    font-size: 18px;
  }
}

%link-font{
  font-size: 16px;
  @media screen and (max-width: 520px) {
    font-size: 14px;  
  }

}


/* flex properties */
%flex {
  display: flex
}
%inline-flex {
  display: inline-flex;
}
%flex-wrap {
  flex-wrap: wrap;
}
%flex-no-wrap {
  flex-wrap: nowrap;
}
%flex-column {
  flex-direction: column;
}

/* display properties */
%border-box {
  box-sizing: border-box;
}

/* theme properties */
%theme-color {
  color: var(--theme-color);
}
%theme-bg-color {
  background-color: var(--theme-color);
}
%theme-bg-gradient {
  background-color: var(--theme-gradient-color);
}

/* position properties */
%sticky {
  position: sticky;
  top: 0;
}
%relative {
  position: relative;
}
%absolute {
  position: absolute;
}
%absolute-center {
  @extend %absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
%fixed {
  position: fixed;
}
%fixed-center {
  @extend %absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//==================
%btn{
  background-color: rgb(62 62 70);
  border: none;
  padding: 10px 20px;
  height: fit-content;
  border-radius: 50px;
  font-weight: 500;
  color: #fff;
  @extend %btn-font;

  &:hover {
    background-color: #3e3e46;
}
}