.input {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    &__field {
        padding: 6px 10px;
        // border-radius: 8px;
        background-color: transparent;
        // border: solid 0.1px grey;
        color: #fff;
        border-bottom: solid #fff;
        transition: 01s;
        &:hover{
            
            background-color: black;
        }

    }

    &__error {
        color: red;
        border-width: 1px;
        border-color: red;

    }
}