.increase{
    width: 400px;
    margin: auto;
    border: solid;
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 20px 10px;
    border-radius: 18px; 
    border: solid 0.1px rgb(214, 75, 120);

    color: rgba(220, 220 ,220 ,0.8);
    font-family: 'IBM Plex Sans Arabic', sans-serif; 
    font-weight: 400;

    &__title{ 
        grid-column: 2/3;
        text-align: center;
        font-size: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 23px;
    }
    &__form{  
        display: grid;
        grid-column: 2/3;
        gap: 10px; 
    }
    &__allowance{
        padding-left: 10px;
    }

    &__input{
        margin: auto;
        border: solid;
        width: 100%;
        padding: 10px;
        border-radius: 18px;
        background-color: rgb(62 62 70);
        border: solid 0.1px rgb(214, 75, 120);
       
    }
    &__btn{
        background-color: rgb(62 62 70);
        border: none;
        padding: 10px 20px;
        border-radius: 50px;
        color: #fff;
    }
}