@import './../../styles/index.scss';

.increase {

    &__container {
        @extend %border;
        padding: 20px 40px 40px;
        border-radius: 17px;
        position: relative;
    }

    &__form {
        margin-top: 20px;
        max-width: 450px;
        @extend %form;
        grid-column: 2/3;

    }

    &__allowance {
        padding-left: 10px;
    }

    &__input {
        margin: auto;
        width: 100%;
        border-radius: 18px;
        @extend %basic-btn;
        @extend %border;
        font-weight: 400;
        padding: 0px 25px;
        height: 40px;
        font-size: 16px;

        &:focus {
            filter: brightness(150%);

        }
    }

}