@import './../../styles/index.scss';

.form{
    @extend %form;
    font-size: 13.333px;
    
    &_row{
        flex-direction: row;
        display: grid;
        grid-template-columns: 1fr 100px;
        border: solid;
        gap: 10px;
    }
 
    &__btn{
        @extend %basic-btn;
        font-size: 14px;
    }
}