@import './../../styles/index.scss';

.btn {
    background-color: transparent;
    transition: 0.5s;
    width: 45px;
    height: 45px;
    &:hover {
        background-color: $background-3;
    }

    &__icon {
        margin: auto;
        display: block;
        background-color: #fff;
        position: relative;
        width: 25px;
        height: 2px;

        &::after,
        &::before {
            content: '';
            position: absolute;
            display: block;
            background-color: #fff;
            top: 6px;
            width: 25px;
            height: 2px;
        }

        &::after {
        top: -6px;
        }
    }

    &__cross {
        visibility: hidden;

        &::before {
            visibility: visible;
            transform: rotate(-45deg);
            top: 0px;
            transition: 0.5s;
        }

        &::after {
            visibility: visible;
            transform: rotate(45deg);
            top: 0px;
            transition: 0.5s;
        }
    }

}