.title{
    text-align: center;
     font-family: 'IBM Plex Sans Arabic', sans-serif; 
     font-weight: 400;
     color: rgba(220, 220 ,220 ,0.8);
     font-size: 25px;
     line-height: 30px;
     margin: 10px 0;
     text-transform: uppercase;
     letter-spacing: 3px;
}

.subtitle{
   @extend .title;
   font-size: 20px;
   line-height: 25px;

}