@import './../../styles/index.scss';

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px;
    padding-bottom: 90px;
    font-size: 20px;
    // padding: 0 140px;
    border: solid;

    @include media(786px){
        grid-template-columns: 1fr;
    }
    &__left {
        padding: 50px 50px;
    }

    &__right {
    }

    &__logo {
        overflow: hidden;
    }

    &__img {
        max-width: 100%;
        object-fit: fill;
        max-height: 100%;
    }

}