@import './../../styles/index.scss';

.home {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(300px, 400px) minmax(300px, 400px);
    gap: 50px;
    padding: 30px;
    padding-bottom: 90px;
    font-size: 20px;


    @include media(767px){
        grid-template-columns: minmax(300px, 400px);
        justify-content: center;
    }
    &__left {
        display: flex;
        max-width: 400px;  
     
    }

    &__right {
        padding: 50px 15px;
        border: solid 0.1px;
        border-radius: 15px;
        @extend %border;
        height: fit-content;
        align-self: center;
    }

    &__logo {
        overflow: hidden;
    }

    &__img {
        max-width: 100%;
        object-fit: fill;
        max-height: 100%;       
    }

}