.billing{

    display: grid;
    &__navigation{
       margin: 40px auto;  
    }
    &__link{
        border: solid;
        padding: 10px 20px;
        background-color: rgb(62 62 70);
        border: none;
        border-radius: 50px;
    }
    &__btn{
        background-color: transparent;
        color: #fff;
    }
    &__body{
        padding-top: 50px;    
    }
}