.billing{

    display: grid;

    &__navigation{
       margin: 40px auto;
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        
    }
    &__link{
        border: solid;
        padding: 10px 20px;

    }
    &__body{

        
    }
}