.header {
    background-color: #282c34;
    display: flex;

    align-items: center;
    font-size: calc(10px + 2vmin);
    font-weight: 600;
    color: white;
    padding: 30px;
    justify-content: space-between;
}
.title{
    font-size: 40px;
    font-weight: 600;
}

.button{
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 600;
}