.input {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    &__field {
        padding: 10px 10px;
        border-radius: 50px;
        background-color: transparent;
        color: #fff;
        transition: 01s;
        background-color: rgb(62 62 70);
        border: solid 0.1px rgb(214, 75, 120);
    }

    &__error {
        color: red;
        border-width: 0.1px;
        border-color: red;
        font-size: 13.333px;
    }
}