.invite {
    padding: 0px 30px;
    display: grid;
    font-size: 30px;
    font-size: 30px;
        line-height: 34px;
    gap: 30px;

    &__links {
        display: grid;
        gap: 20px;
        font-size: 20px;
    }

}