@import './../../styles/index.scss';

.wallet {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
    padding: 40px;

   

    @include media(768px){
        grid-template-columns: 1fr;
        padding: 20px 20px 40px;
    }
    
  
    &__title{
        grid-row: 1/2;
        grid-column: 1/3;        
       
        @include media(768px){
            grid-column: 1/2;
        }
    
    }

    &__balance{
        grid-row: 2/3;
        grid-column: 1/2;
        height: auto;
        @extend %border;
        @extend %border-radius;
        font-size: 16px;
        @include media(768px){
            grid-column: 1/2;
            grid-row: 3/4;
        }

    }
    &__activity{
        grid-row: 3/4;
        grid-column: 1/2;
        @include media(768px){
            grid-column: 1/2;
            grid-row: 4/5;
        }
       
    }
    &__invite{

        padding: 10px;
        @extend %border;
        @extend %border-radius; 
        @include media(768px){
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }

}
