.login {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    

  
    &__title{
        text-align: center;
    
    }

    &__form{
       display: flex;
       flex-direction: column;
       row-gap: 20px;
    }
    &__btn{
        // border-radius: 8px;
        color: #fff;
        font-size: 20px;
        padding: 8px 8px;
        background-color: #363636;
    }

}
